{% extends "layout.html" %}

{% block title %}Учу уму-разуму{% endblock %}
{% block body %}
    <br><b>Готов подсказать:</b></br>
    <br>— Как сделать ваш интернет-магазин прибыльным, продающим, интересным и необычным;</br>
    <br>— Почему не нужно запускать в тревеле очередной такой же сервис;</br>
    <br>— Как устроен мир рекламы;</br>
    <br>— Что такое интересный продукт.</br>
    <br>И упакую это в общую стратегию.</br>
    <br></br>
    <br><b>Почему нужно со мной общаться?</b></br>
    <br>— Последние 7-8 лет я работал в IT, eCommerce, travel. В таких компаниях как Яндекс, Эльдорадо, OneTwoTrip + еще нескольких стартапах,</br>
    <br>— где занимался маркетингом, развитием продуктов, аналитикой, а теперь еще и машинным обучением.</br>
    <br>— Еще был опыт разработки стратегии развития другим компаниям, менее именитым.</br>
    <br>— В каждой компании есть свои кейсы, которым в случае необходимости могу поделиться (если не попадет под NDA).</br>
    <br></br>
    <br><u><a href="/contacts">Свяжитесь со мной</a></u> и мы обсудим детали.</br>
{% endblock %}